@model Veiculo
<div class="card m-3">
    <div class="card-body">
        <p><strong>Tipo de Veículo:</strong> @Model.TipoVeiculo</p>
        <p><strong>Valor:</strong> @Model.Valor</p>
        <p><strong>Marca:</strong> @Model.Marca</p>
        <p><strong>Modelo:</strong> @Model.Modelo</p>
        <p><strong>Ano do Modelo:</strong> @Model.AnoModelo</p>
        <p><strong>Combustível:</strong> @Model.Combustivel</p>
        <p><strong>Código FIPE:</strong> @Model.CodigoFipe</p>
        <p><strong>Mês de Referência:</strong> @Model.MesReferencia</p>
        <p><strong>Sigla do Combustível:</strong> @Model.SiglaCombustivel</p>
    </div>
</div>